body {
    padding: 0px;
    margin: 0px;
}

.header {
    height: 60px;
    background: #007eff;
    box-shadow: 0px 5px 5px #00000038;
}

    .header img {
        width: 40px;
        margin: 10px;
        float: left;
    }

    .header .search {
        margin-top: 10px;
        height: 40px;
        width: 50%;
        border: none;
        padding: 0px 10px;
    }

    .header .basket {
        width: 20px;
        margin: 20px;
        float: right;
    }

.item {
    box-shadow: 2px 2px 2px #00000038;
    margin-bottom: 10px;
}

    .item img {
        padding: 10px;
        width: 100px;
        float: left;
    }

    .item .data {
        margin-left: 120px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

h3 {
    margin: 0px;
}
